<!DOCTYPE html>
<html>

<head>
  <title>
    征集活动详情
  </title>
  <% include ../common/head %>
    <link rel='stylesheet' href='/styles/collect.min.css' />
    <script src='/javascripts/libs/datarangepicker/laydate.js'></script>
</head>

<body>
  <header>
    <% include ../common/header %>
  </header>

  <div class="g-content collectdetail">
    <div class="crumbs">
      <ul>
        <li>
          <a href="/">首页&nbsp;&nbsp;></a>
        </li>
        <li>
          <a href="/collect/offlineAct">作品征集&nbsp;&nbsp;></a>
        </li>
        <li>
          <a href="">活动详情</a>
        </li>
      </ul>
    </div>
    <div class="brief-media">
      <div class="media">
        <div class="media-left">
          <img src="<%= data.coverPic %>" alt="活动图片" class="brief-img" />
        </div>
        <div class="media-center">
          <h3 class="name">
            <%= data.name %>
          </h3>

          <p class="describe f-nowrap">
            <i class="iconfont icon-clstime"></i>报名时间：
            <%= data.signStartTime.substring(0,16) %>&nbsp; 至 &nbsp;
              <%= data.signEndTime.substring(0,16) %>
          </p>

          <p class="describe f-nowrap">
            <i class="iconfont icon-clstime"></i>活动时间：
            <%= data.startDate.substring(0,16) %>&nbsp; 至 &nbsp;
              <%= data.endDate.substring(0,16) %>
          </p>

          <p class="describe f-nowrap">
            <i class="iconfont icon-homepage"></i>组织机构:
            <%= data.organizer %>
          </p>

          <p class="describe f-nowrap">
            <i class="iconfont icon-team"></i>活动对象:
            <%= data.actObject %>
          </p>

          <p class="describe f-nowrap">
            <i class="iconfont icon-type3"></i>活动类型:
            <%= data.type=='stageArts'?'舞台艺术':'展览' %>
          </p>

        </div>
      </div>
    </div>

    <div class="detail">
      <div class="title">填写作品信息</div>
      <div class="desc oflActWork">
        <form method="post" enctype="multipart/form-data" id="workInfo" onsubmit="return false">

          <div class="item">
            <label>作品名称:</label>
            <input name='name' id='name' required>
          </div>

          <div class="item size">
            <label>节目负责人:</label>
            <div>
              <input name='contact' id='contact' required>
            </div>
            <div>
              <label>联系电话:</label>
              <input name='telephone' id='telephone' type='text' required>
            </div>
          </div>
          <div class="item size">
            <label>节目时长(分钟):</label>
            <div>
              <input name='hourLong' id='hourLong'  type="number" required>
            </div>
            <div>
              <label>参演人数(人):</label>
              <input name='peoples' id='peoples' type="number" required>
            </div>
          </div>
          <div class="item">
            <label>演出单位:</label>
            <input name='producer' id='producer' type='text' required>
          </div>

          <div class="item">
            <label>艺术门类:</label>
            <select id='arts' name='arts' required>
              <% artcategory.forEach(function(item){%>
                <option value='<%=item.code%>'> <%=item.value%> </option>
              <%})%>
            
              
            </select>
          </div>

          <div class="item topAlign">
            <label>主创人员:</label>
            <table>
              <tr class="theader ">
                <th class="order">排序</th>
                <th class="name">姓名</th>
                <th class="sex">性别</th>
                <th class="age">年龄</th>
                <th class="role">主创人员角色</th>
                <th class="workUnit">工作单位</th>
                <th class="del">操作</th>
              </tr>
              <tbody class="mainActor">
              </tbody>
              <tr class="theader bottomLine">
                <td colspan="7">
                  <span class="addDirector" href='#actModal'>
                    <i class="iconfont icon-plus"></i>添加主创人员</span>
                </td>
              </tr>
            </table>
          </div>
          <div class="item topAlign">
            <label>参演人员:</label>
            <table>
              <tr class="theader ">
                <th class="order">排序</th>
                <th class="name">姓名</th>
                <th class="sex">性别</th>
                <th class="age">年龄</th>
                <th class="role">参演人员角色</th>
                <th class="workUnit">工作单位</th>
                <th class="del">操作</th>
              </tr>
              <tbody class="playActor">
              </tbody>
              <tr class="theader bottomLine">
                <td colspan="7">
                  <span class="addPlayer" href='#actModal'>
                    <i class="iconfont icon-plus"></i>添加参演人员</span>
                </td>
              </tr>
            </table>
          </div>
          <div class="item topAlign">
            <label>灯光要求:</label>
            <textarea rows=4 name='lampLight' id='lampLight' required></textarea>
          </div>
          <div class="item topAlign">
            <label>话筒音响要求:</label>
            <textarea rows=4 name='voiceTube' id='voiceTube' required></textarea>
          </div>
          <div class="item topAlign">
            <label>特效要求:</label>
            <textarea rows=4 name='specialEffects' id='specialEffects' required></textarea>
          </div>
          <div class="item topAlign">
            <label>作品简介:</label>
            <textarea rows=4 name='workBrief' id='workBrief' required></textarea>
          </div>

          <div class="item">
            <label class="notrequired">其他附件:</label>
            <div class="img-upload">
              <div class="btn import-btn" id='workbtn'>点击上传</div>
              <input type='text' class="whitebg" disabled id='attachName' name='attachName'></input>
              <input type="text" id="attach" name='attach' class="sr-only"></input>
            </div>
            <p class="attachtip"> * 可上传led背景（可为视频或图片文件）、音乐伴奏、演出视频、剧照等；若需上传多个文件，请采用压缩包格式上传。</p>
          </div>

          <div class="opbtn">
            <span class="btn outline" id='back'>返 回</span>
            <input class="btn" type="submit"></input>
          </div>
        </form>
      </div>
    </div>
    <div class="place-space"></div>
  </div>

  <footer>
    <% include ../common/footer %>
  </footer>

  <% include  ./addActor %>
</body>
<script src="/javascripts/libs/validate/jquery.validate.min.js"></script>
<script src="/javascripts/libs/validate/additional-methods.min.js"></script>
<script src="/javascripts/libs/validate/messages_zh.js"></script>
<script src="/javascripts/commons/custom-validate.js"></script>
<link href="/javascripts/libs/webuploader/webuploader.css">
<script type="text/javascript" src="/javascripts/libs/webuploader/webuploader.min.js"></script>
<script>
  laydate.render({
    elem: '#createDate' //指定元素
  });
  var actId = '<%=actId%>';
  var mainActor = [];
  var playActor = [];
  //身份证格式
  $.validator.addMethod("userCode", function(value) {
    var check = assist.getBirthday(value);
    return !check.error;
  }, '请输入正确的身份证号码');

  $('#back').on('click', function() {
    window.location.href = '/collect/offlineActDetail/' + actId
  })

  function showColorBox(element) {
    element.colorbox({
      inline: true,
      slideshow: true,
      closeButton: false,
      overlayClose: true,
      width: 610,
      height: 520,
      onClosed: function() {
        // 重置表单
        var forms = $('#actForm');
        for (var i = 0; i < forms.length; i++) {
          var element = forms[i];
          element.reset();
          $(element).validate().resetForm();
          $(element).find('input').removeClass('v-error');

        }
      }
    });
  }

  var curType = 'mainActor'; //mainActor 主要演员，playActor:参演人员
  // 弹窗
  $('.addDirector').on('click', function(event) {
    event.preventDefault();
    curType = 'mainActor';
    $('.ckb').show();
    $('.roles').hide();
    $('.tips').show();
    showColorBox($(this));
  });
  // 弹窗
  $('.addPlayer').on('click', function(event) {
    event.preventDefault();
    curType = 'playActor';
    $('.ckb').hide();
    $('.roles').show();
    $('.tips').hide();
    showColorBox($(this));
  });

  $('.u-btn').on('click', function() {
    var role = [];
    var act = {};
    if ($('.actname').val() == '') {
      assist.showMsg('请输入姓名');
      return;
    } else {
      act['userName'] = $('.actname').val();
    }

    if ($('.actsex').val() == '') {
      assist.showMsg('请输入性别');
      return;
    } else {
      act['sex'] = $('.actsex').val();
    }

    if ($('.actage').val() == '') {
      assist.showMsg('请输入年龄');
      return;
    } else {
      act['age'] = $('.actage').val();
    }
    if (curType == 'mainActor') {
      $('.ckb input').each(function(idx, item) {
        if (item.checked) {
          role.push(item.value);
        }
      })

      if (role.length == 0) {
        assist.showMsg('请选择角色');
        return;
      }
      act['roles'] = role.join(',');

    } else {
      if ($('.roles').val() == '') {
        assist.showMsg('请输入角色');
        return;
      } else {
        act['roles'] = $('.roles').val();
      }
    }
    if ($('.actunit').val() == '') {
      assist.showMsg('请输入单位');
      return;
    } else {
      act['works'] = $('.actunit').val();
    }
    if (curType == 'mainActor') {
      mainActor.push(act);
      showActor('mainActor', mainActor, '1');
    } else {
      playActor.push(act);
      showActor('playActor', playActor, '2');
    }
    window.parent.$.fn.colorbox.close();
  })

  function showActor(ele, data, cls) {
    if (!data) return;
    let tableStr = '';
    for (var i = 0; i < data.length; i++) {
      tableStr += '<tr>';
      tableStr += '<td>' + (i + 1) + '</td>';
      tableStr += '<td>' + data[i].userName + '</td>';
      tableStr += '<td>' + (data[i].sex == 'male' ? '男' : '女') + '</td>';
      tableStr += '<td>' + data[i].age + '</td>';
      tableStr += '<td>' + data[i].roles + '</td>';
      tableStr += '<td>' + data[i].works + '</td>';
      tableStr += '<td><button class="delbtn"  onclick="del(' + i + ',' + cls + ')">删除</input></td>';
      tableStr += '</tr>';
    }
    $('.' + ele).html('');
    $('.' + ele).append(tableStr);
  }

  function del(index, cls) {
    if (cls == '1') {
      mainActor.splice(index, 1);
      showActor('mainActor', mainActor)
    } else {
      playActor.splice(index, 1);
      showActor('playActor', playActor)
    }
  }

  function uploaderFile() {
    var uploader = WebUploader.create({
      // swf文件路径
      swf: '/javascripts/libs/webuploader/Uploader.swf',
      // 文件接收服务端。
      server: '/uploadfile',
      // 选择文件的按钮。可选。
      // 内部根据当前运行是创建，可能是input元素，也可能是flash.
      pick: '#workbtn',
      // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
      resize: false,
    });


    $('#workbtn').one('click', function() {
      $('#workbtn').find('input').css('display', 'none');
      uploader.refresh();
      $('#workbtn').find('input').click()
    })
    //当文件被加入队列之前触发，此事件的handler返回值为false，则此文件不会被添加进入队列。
    uploader.on('beforeFileQueued', function(file) {
      var fileSize = file.size / 1024 / 1024;
      if (fileSize >= 500) {
        assist.showMsg('文件过大')
        return false;
      }
      uploader.reset();
    })

    uploader.on('fileQueued', function(file) {
      uploader.upload();
    });
    // 文件上传过程中创建进度条实时显示。
    uploader.on('uploadProgress', function(file, percentage) {
      // assist.showMsg('上传中')
    });

    uploader.on('uploadComplete', function(file) {
      $(".dialog-wrap").remove();
    });

    uploader.on('uploadSuccess', function(file, response) {
      if (response.code == 0) {
        var src = response.res;
        $("#attach").val(src);
        $("#attachName").val(response.fileName);
        uploading = true;
      } else {
        uploading = false;
        assist.showMsg('上传失败');
      }
    });
  }
  uploaderFile();

  $(document).ready(function() {
    $("#workInfo").validate({
      errorElement: 'div',
      errorClass: 'v-error',
      rules: {
        idNumber: 'userCode',
        telephone: "phoneType"
      },
      messages: {
        name: {
          required: "请输入节目名称"
        },
        contact: {
          required: "请输入节目负责人"
        },
        telephone: {
          required: '请输入正确的电话号码'
        },
        hourLong: {
          required: '请输入节目时长'
        },
        peoples: {
          required: '请输入参演人数'
        },
        producer: {
          required: '请输入演出单位'
        },
        arts: {
          required: '请输入艺术门类'
        },
        lampLight: {
          required: "请输入灯光要求"
        },
        voiceTube: {
          required: "请输入话筒音响要求"
        },
        specialEffects: {
          required: "请输入特效要求"
        },
        workBrief: {
          required: "请输入作品简介"
        }
      },
      submitHandler: function() {
        var workInfo = $("#workInfo").serializeArray();
        var workObj = {};
        for (var i = 0; i < workInfo.length; i++) {
          workObj[workInfo[i].name] = workInfo[i].value;
        }
        workObj.mainPeoples = mainActor;
        workObj.actinPeoples = playActor;
        workObj.type = 'stageArts';
        workObj.attachName=$('#attachName').val();
        if (mainActor.length == 0) {
          assist.showMsg('请输入主创人员');
          return;
        }
        if (playActor.length == 0) {
          assist.showMsg('请输入参演人员');
          return;
        }
        $.ajax({
          url: '/collect/offlineAct/work',
          data: {
            'activityId': actId,
            works: workObj
          },
          type: 'post',
          success: function(res) {
            if (res && res.id) {
              assist.showMsg('提交成功', 'success');
              $("#workInfo")[0].reset();
              mainActor = [];
              playActor = [];
              showActor('mainActor', mainActor);
              showActor('playActor', playActor);
            } else {
              assist.showMsg('提交失败', 'error');
            }
          },
          failure: function() {
            assist.showMsg('提交失败', 'error');
          }
        })
      }
    })
  })
</script>

</html>