<%
var region = query.region ? '&region=' + query.region : '';
var type = query.type ? '&type=' + query.type : '';

var typePage = '/team?' + region;
var regionPage = '/team?' + type;
var paginatorPage = '/team?' + type + region;
paginatorPage=paginatorPage.replace('?&','?');
%>
  <!DOCTYPE html>
  <html>

  <head>
    <title>
     文艺团队
    </title>
    <% include ../common/head %>
    <link rel='stylesheet' href='/styles/team.min.css' />   
  </head>
  <body>
    <header>
      <% include ../common/header %>
    </header>
    <div class="g-content">
        <div class="crumbs">
            <ul>
                    <li>
                       <a href="/">首页&nbsp;&nbsp;></a>
                    </li>
                    <li>
                       <a href="">文艺团队</a>
                    </li>
            </ul>
       </div>
       <div class="m-filter-pannel">
          <div class=" m-search-lst">
              <div class="item">
                  <h4 class="tag-hd">区&nbsp;&nbsp;域：</h4>
                  <div class="tag-wrap">
                        <a class="tag-item <% if(!query.region){ %>active<% } %>" href="<%- regionPage %>">全部</a>
                        <% regions.forEach(function (type) { %>
                        <a class="tag-item <% if( query.region && query.region === type.code ){ %> active <% } %>"
                           href="<%- regionPage %>&region=<%= type.code %>">
                            <%= type.name %>
                        </a>
                        <% }) %>
                    </div>
              </div>
              <div class="item">
                  <h4 class="tag-hd">团队类型：</h4>
                  <div class="tag-wrap">
                      <div class="u-tags">
                          <a class="tag-item <% if(!query.type){ %>active<% } %>" href="<%- typePage %>">全部</a>
                          <% code.forEach(function (type) { %>
                            <a class="tag-item <% if(query.type&&query.type===type.code){ %>active<%}%>" href="<%- typePage %>&type=<%=type.code%>">
                              <%= type.value%>
                            </a>
                            <% }) %>
                      </div>
                  </div>
              </div>

              
            <div class="search-area">
                <input id="keysearchcontent" type="text" placeholder="关键词搜索..." value='<%=query.key%>'>
                <button id="keysearch" title="点击搜索">
                    <i class="iconfont icon-search"></i>
                </button>
             </div>

          </div>
      </div>
         <div class="list-content">
             <% if(data.content.length>0){%>
          <div  class="content">
            <% data.content.forEach(function (item) { %>
                <div class="card col-4 border">
                       <a class="card-head" href="/team/teamdetail/<%= item.id %>">
                         <img class="img-top" src="<%=item.coverPic%>">
                        </a>
                    <div class="card-body">
                        <h5 class="card-title" > <%= item.name %></h5>
                        <div class="card-info">
                            <p>
                                <i class="iconfont icon-phone"></i>
                                <span>  <%= item.contactPhone %></span>
                            </p>
                            <p>
                                <i class="iconfont icon-location"></i>
                                <span>  <%= item.address %></span>
                            </p>
                        </div>
                    </div>
                </div>
            <% }) %>
           
          </div>
          <%} else {%>
            <%- include('../common/nodata', {tip : '暂无数据' })  %> 
        <%}%>
        </div>
          <%- include('../common/paginator.ejs', {page : data.number + 1, totalPages : data.totalPages, pageUrl :paginatorPage, totalElements: data.totalElements}) %>
   
      <div class="place-space"></div>
    </div>

    <footer>
      <% include ../common/footer %>
    </footer>
  </body>
  <script>
    $(function() {
      $('#myStateButton').on('click', 'label', function() {
        var status = $(this).find('input').data('status');
      })

      $('#keysearch').click(function(){
           var key=$('#keysearchcontent').val();
           var paginatorPage='<%=paginatorPage%>';
              window.location.href=paginatorPage+'&key='+key; 
       })
    });
  </script>

  </html>